[flake8]

exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    settings.py,
    __init__,

ignore =
    E127,
    F403,
    F401,
    E128,
    E131,
    E122,
    E116,
    W293,
    E125,
    E501,

